html(lang="en")
  head
    block head
      include _meta
      block css
        include vendors/_css
      block js
        include vendors/_js
      block title
        title TheGzM.Space

  body
    block navigation
      include _navigation
    block body
      .container-fluid
        .row
          .col-sm-12.col-md-4#about
            h1 About Me
            .card.bg-transparent.aero(style='width: 20rem')
              .card-body
                button.close.text-white.d-lg-none#about-dialog-btn(data-dismiss='modal')
                  span &times;
                img.rounded-circle.float-left(data-src=me.thumbnailUrl, width=80, height=80, alt='thumbnail')
                h5.d-inline-block.card-title
                  a(href=me.profileUrl) #{me.displayName} (#{me.preferredUsername})
                br
                h6.d-inline-block.card-title #{me.currentLocation}
                hr
                p.card-text !{me.aboutMe.replace(/\n/g, '<br>')}
                - if (me.urls.length)
                  p.card-text
                    each v, i in me.urls
                      a(href=v.value) #{v.title}
                      | #{i === me.urls.length - 1 ? '' : ' | '}
                    |  | 
                    a(href='https://github.com/gazmull') Github
        content
          block content
        footer
          block footer
            include _footer
    

