extends template/_main

mixin banner (project)
  - const name = `${project.name}${project.ready ? '' : ' (N/A)'}`;
  a.project(name=project.name, href=project.url, target="_blank")
    span(
      id=`img-${project.name.replace(/[^\w]/g, '')}`,
      class='position-absolute invisible d-block btn btn-dark btn-outline-light rounded'
    ) #{project.name}

    - if (project.ready)
      img(src=`/assets/img/${project.img}`, alt=name)
    - else
      img.covered(src=`/assets/img/${project.img}`, alt=name)

block content
  .container-fluid
    .row
      .col-4
      .col-4.text-center
        p Oh hi Mark.
        h3 Active Kamihime PROJECTs (ayy)
        p
          - for (const project of projects)
            +banner(project)
        h3 WIP so i'll only show the japanese shit
