extends template/_main

mixin item (obj, url)
  - const name = `${obj.name.join(' / ')}${obj.ready ? '' : ' (N/A)'}`;
  li
    a(href=`${url}#${obj.name[0].replace(/ +/g, '-')}`) #{name}

mixin checkItems (items, url)
  - if (items)
    - items = items.active.concat(items.inactive);
    - if (items.length)
      ul
        - for (const item of items)
          +item(item, url)
    - else
      p Hmm... nothing to see here!
  - else
    p Hmm... resolves to nothing!

block content
  .row
    .col-sm-12.col-md-4
      h1 Welcome!
      p Contains active and inactive properties
      h3 My Projects
      +checkItems(projects, '/projects.html')
      h3 My Documentations
      +checkItems(documentations, '/documentations.html')
