extends template/_main

mixin banner (project, prop)
  - const name = `${project.names.join(' / ')}${project.ready ? '' : ' (N/A)'}`;
  - const src = /^https?:\/\//.test(project.img) ? project.img : `/assets/img/${project.img}`;
    .card.bg-transparent.aero.my-1.project(
      id=project.names[0].replace(/ +/g, '-'),
      title='Click me for more info!',
      data-prop=prop,
      data-index=projects[prop].findIndex(p => project.names[0] === p.names[0]),
      data-toggle='modal',
      data-target='.modal'
    )
      - if (project.ready)
        img.card-img(data-src=src, alt=name)
      - else
        img.card-img.covered(data-src=src, alt=name)
      .card-img-overlay
        h5.card-title
          each v, i in project.names
            | #{project.names[i]}#{i === project.urls.length - 1 ? '' : ' / '} 
        p
          - if (!project.ready)
            span.d-none.d-xl-inline-block.badge.badge-danger NOT AVAILABLE
            | 
          - const cleanedLangs = project.stack.filter((v, i, arr) => arr.indexOf(v) === i);
          each v in cleanedLangs
            span.d-none.d-xl-inline-block.badge.badge-secondary #{v}
            | 

mixin checkProjects (projects, prop)
  - const cProjects = projects[prop];
  - if (cProjects && cProjects.length)
    - for (const project of cProjects)
      +banner(project, prop)
  - else
    p Hmm... nothing to see here!

append navigation
  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content.aero.bg-transparent
        .modal-header
          .modal-background
            img.img-fluid(alt='project banner')
          h4.modal-title
          button.close.text-white(data-dismiss='modal')
            span &times;
        .modal-body.bg-dark
          p.col-6.float-left
          .col-6.float-right
            h5 Home
            p.modal-body-home
            h5 Documentation
            p.modal-body-docs

block content
  .row
    .col-sm-12.col-lg-4
      h1 My Projects
      p Click an image for information.
      hr
      .row
        .col
          h2 Active Projects
          +checkProjects(projects, 'active')
      .row
        .col
          h2 Inactive Projects
          +checkProjects(projects, 'inactive')

  script.
    const projects = !{JSON.stringify(projects)};
